.cont-full-contact{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 400px;
    float: left;
    overflow: hidden;
}

.cont-full-contact h2{
    background-color: transparent;
    font-family: "Bebas";
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 800;
    width: 100%;
   
    float: left;
    color: white;
    text-align: center;
    color: deeppink ;
    /*-webkit-text-stroke:rgb(255, 138, 200) 1px;
    text-shadow: 0px 0px 3px rgb(255, 138, 200);*/
}
