body{
    background-color: black;
    padding: 0px;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LEMONMILK-Bold";
    src: url("../fonts/LEMONMILK-Bold.otf");
}

@font-face {
    font-family: "LEMONMILK-ligth";
    src: url("../fonts/LEMONMILK-Light.otf");
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue-Regular.otf");
}



.cont-full{
   background-image: url("../media/galaxia1.jfif");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: top;
    width: 100%;
    height: auto;
    
    float: left;
}


.nube{
    background-color: transparent;
    width: 120px;
    height: 100px;
    float: left;
    background-image: url("../media/nube.png");
    background-size: 100% 100%;
    position: fixed;
   
    animation: mov1 10s infinite alternate;
  

}

@keyframes mov1 {
    from{
        right: 130%;
        top: 300px;
       
    }
    to{
        right: -400px;
        top: -60px;
        
    }
    
}
