.cont-full-home{
    background-color: rgba(0, 0, 0, 0.9);

    width: 100%;
    height: 500px;
    float: left;
  /*  padding-left: 100px;*/
    padding-top: 150px;
}

.cont-full-home h1{
    width: 100%;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-family: "LEMONMILK-Bold";
    font-size: 60px;
    font-weight: 700;
    animation: titulo 2s infinite alternate;
}

.cont-full-home p{
    width: 100%;
    text-align: center;
    color: rgb(0, 140, 255);
    font-family: "LEMONMILK-ligth";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 20px;
}




@keyframes titulo{
  from{

    text-shadow: 0px 0px 0px rgb(0, 140, 255);
  }

  to{
   
    text-shadow: 0px 0px 10px rgb(0, 140, 255);
  }
   
} 
