.cont-full-info{
    background-color: rgb(0, 0, 0,0.9);
    width: 100%;
    height: auto;
    min-height: 500px;
    float: left;
    overflow: hidden;
    padding-bottom: 50px;
}

.cont-full-info h2{
    background-color: transparent;
    font-family: "Bebas";
    font-size: 55px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 5px;
    font-weight: 800;
    width: 100%;
    float: left;
    text-align: center;
    color: deeppink ;
    /*-webkit-text-stroke:rgb(255, 138, 200) 1px;
    text-shadow: 0px 0px 3px rgb(255, 138, 200);*/
    margin-bottom: 60px;
}

.info-full-photo{
    background-color: transparent;
    width: 40%;
    height: auto;
    min-height: 40px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-photo{
    background-color: deeppink;
    background-image: url("../media/yo.jpg");
    background-size: 100% 100%;
    background-position: top;
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0px 0px 15px deeppink;
    border: deeppink 2px solid;
}


.cont-full-aboutme{
    background-color:transparent;
    width: 60%;
    height: max-content;
    float: left;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 30px;
}


.cont-aboutme{
    background-color:transparent;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    
}

.cont-aboutme-h1{
    background-color: transparent;
    width: 100%;
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    color: deeppink;
    font-family: "LEMONMILK-Bold";
}


.div-info:nth-child(1){
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
}

.div-info:nth-child(2){
    background-color:transparent;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    display: flex;
    align-items: baseline;
}

.cont-aboutme-h1-2:nth-child(1){
    background-color:transparent;
    width: auto;
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 30px;
    color: deeppink;
    font-family: "LEMONMILK-Bold";
}

.cont-aboutme-h1-2:nth-child(2){
    background-color: transparent;
    width: auto;
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: deeppink;
    font-family: "LEMONMILK-Bold";
    text-shadow: 0px 0px 10px rgba(255, 20, 145, 0.5);
}

.cont-cv{
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 10px;
}

.cont-bio{
    background-color: transparent;
    width: 100%;
    height: max-content;
    min-height: 100px;
    float: left;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
}

.cont-bio p{
    color: white;
    font-weight: 600;
    font-family: "LEMONMILK-ligth";
    line-height: 26px;
}

.cont-cv button{
    background-color: white;
    width: 150px;
    height: 50px;
    float: left;
    overflow: hidden;
    border-style: none;
    color: rgb(0, 140, 255);
    font-weight: 600;
    box-shadow:0px 0px 10px deepskyblue;
    border: white 2px solid;
    text-shadow: 0px 0px 2px deepskyblue;
}

.cont-cv button:hover{
    color: deeppink;
    border: deeppink 1px solid;
    box-shadow:0px 0px 10px deeppink;
    text-shadow: 0px 0px 2px deeppink;
}


@media (max-width:1000px){
    .cont-full-aboutme{
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info-full-photo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cont-cv button{
        height: 40px;
    }
}


@media (max-width:520px){
    .cont-aboutme-h1{
        font-size: 22px;
    }

    .cont-aboutme-h1-2:nth-child(1){
        font-size: 22px;
    }

    .cont-aboutme-h1-2:nth-child(2){
        font-size: 28px;
    }
}

@media (max-width:400px){
    .cont-full-aboutme{
        padding-left: 0px;
        padding-right: 0px;
    }
    .cont-aboutme-h1{
        font-size: 20px;
    }

    .cont-aboutme-h1-2:nth-child(1){
        font-size: 20px;
    }

    .cont-aboutme-h1-2:nth-child(2){
        font-size: 26px;
    }
}

@media (max-width:330px){
    .cont-aboutme-h1{
        font-size: 15px;
    }

    .cont-aboutme-h1-2:nth-child(1){
        font-size: 15px;
    }

    .cont-aboutme-h1-2:nth-child(2){
        font-size: 20px;
    }

    .cont-bio p{
        font-size: 12px;
    }
}
