.menu{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 70px;
    float: left;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 10;
    
}

.cont-into-menu{
    background-color: transparent;
    width: auto;
    min-width: 840px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.cont-menu{
    background-color: transparent;
    width: auto;
    min-width: 100px;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent 2px solid;
}

.cont-menu p{
    float: left;
    color: white;
    font-family: "LEMONMILK-ligth";
    font-size: 15px;
    letter-spacing: 3px;
}

.cont-menu:hover{
    border-color: white;
    cursor: pointer;
    text-shadow: 0px 0px 8px rgb(0, 140, 255);
}

.cont-menu:hover p{
    font-weight: 900;
}

.cont-min-menu{
    background-color: transparent;
    width: 70px;
    height: 100%;
    float: right;
    margin-right: 20px;
    display: none;
}

.min-menu{
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-menu i{
    font-size: 35px;
    color: white;
}

.min-menu:hover{
    cursor: pointer;
    text-shadow: 0px 0px 8px rgb(0, 140, 255);
}

@media (max-width:900px){
    .menu{
        justify-content: right;
    }

    .cont-into-menu{
        display: none;
    }

    .cont-min-menu{
        display: block;
    }
  }


  .cont-full-MinMenu{
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      min-height: 100vh;
      height: 100%;
      float: left;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      z-index: 9;
      
  }

  .container-minMenu{
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(1rem);
      width: 100%;
      max-width: 450px;
      height: 100vh;
      float: right;
      margin-top: 70px;
      
  }

  .minMenu{
      background-color: transparent;
      width: 100%;
      min-height: 50px;
      height: auto;
      float: left;
      overflow: hidden;
      border-top: rgb(0, 140, 255,0.3) 1px solid;
      text-shadow: 0px 0px 5px deepskyblue;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
  }

  .minMenu:hover{
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(1rem);
    
  }

  .minMenu:hover p{
    font-size: 22px;
  }

  .minMenu:active{
    font-size: 22px;
  }


  .minMenu p{
      float: left;
      font-weight: 700;
      font-size: 20px;
      font-family: "LEMONMILK-ligth";
      color: white;
  }
