.cont-full-skills{
   background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 250px;
    float: left;

    padding-left: 150px;
    padding-right: 150px;

    position: relative;

    
    
  
}

.cont-full-skills button{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 60px;
    right: 150px;
}

.cont-full-skills h2{
    
    background-color: transparent;
    font-family: "Bebas";
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 800;
    width: 100%;
  
    float: left;
    color: white;
    text-align: center;
    color: deeppink ;
    /*-webkit-text-stroke:rgb(255, 138, 200) 1px;
    text-shadow: 0px 0px 3px rgb(255, 138, 200);*/
   
}

.cont-skills{
    background-color: transparent;
    width: 100%;
    height: 120px;
    float: left;
    margin-top: 20px;
    overflow: hidden;
    overflow-x: auto;


    
    display: flex;
    align-items: center;
   
   
}

.cont-skills::-webkit-scrollbar{
    height: 0px;
}

.cont-skills-into{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill{
    background-color: transparent;
    border: rgba(255, 255, 255, 0.2) 2px solid;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.skill img{
    width: 50px;
    height: 50px;
    object-fit:contain ;
}


.skill:hover img{
    width: 70px;
    height: 70px;
}

.skill:hover{
    background-color: transparent;
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
    
}

#java:hover{
    box-shadow: 0px 0px 12px rgb(255, 0, 0);
    border: rgb(255, 0, 0) 2px solid;
}

#js:hover{
    box-shadow: 0px 0px 12px rgb(255, 238, 0);
    border: rgb(255, 238, 0) 2px solid;
}

#C:hover{
    box-shadow: 0px 0px 12px rgb(0, 119, 255);
    border: rgb(0, 119, 255) 2px solid;
}

#mongo:hover{
    box-shadow: 0px 0px 12px rgb(255, 145, 41);
    border: rgb(255, 145, 41) 2px solid;
}

#mysql:hover{
    box-shadow: 0px 0px 12px deepskyblue;
    border: deepskyblue 2px solid;
}

#node:hover{
    box-shadow: 0px 0px 12px rgb(30, 255, 0);
    border: rgb(30, 255, 0) 2px solid;
}

#hbs:hover{
    box-shadow: 0px 0px 12px deeppink;
    border: deeppink 2px solid;
}

#html:hover{
    box-shadow: 0px 0px 12px rgb(255, 94, 0);
    border: rgb(255, 94, 0) 2px solid;
}

#css:hover{
    box-shadow: 0px 0px 12px rgb(153, 0, 255);
    border: rgb(153, 0, 255) 2px solid;
}

#ps:hover{
    box-shadow: 0px 0px 12px rgb(0, 255, 255);
    border: rgb(0, 255, 255) 2px solid;
}

#ai:hover{
    box-shadow: 0px 0px 12px rgb(255, 157, 0);
    border: rgb(255, 157, 0) 2px solid;
}

#vsc:hover{
    box-shadow: 0px 0px 12px rgb(68, 0, 255);
    border: rgb(68, 0, 255) 2px solid;
}






